<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.4/bluebird.min.js"></script>
	<script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.0/js/msal.js"></script>
	<script src="/js/index.js"></script>

</head>
<style>
.row{
	padding: 12px;
}
</style>
<body style="overflow:hidden; padding: 0%; margin: 0%;">
	<div class="container-fluid">
		<form name="form" action="" method="POST" style="opacity: 1;">
			<div class="form-group">
				<input type="hidden" name="token" id="input-token">
				<div class="row">
					<div class="col-4"></div>
					<div class="col-8">
						<img src="/js/background.jpg" alt=""
							style="z-index:-2; opacity: 0.5; position: absolute; right: 0px;width: 100%;">
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<h4 id="WelcomeMessage"></h4>
						<button id="SignIn" onclick="signIn()">Sign In</button><br /><br />
					</div>
					<div class="col-9">
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<label for="eventPicker">What are you looking for?</label>
						<select name="type" id="eventPicker" class="form-control form-control-lg">
							<option value="fika">Fika</option>
							<option value="lunch">Lunch</option>
						</select>
					</div>
					<div class="col-9">
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<label for="datePicker">Which day you are you planning for?</label>
						<input name="date" type="date" id="datePicker">
					</div>
					<div class="col-9">
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-xl-1">
						<label for="startTime">Start Time</label>
						<input name="start_time" type="time" id="startTime">
					</div>
					<div class="col-md-2 col-xl-1">
						<label for="endTime">End time</label>
						<input name="end_time" type="time" id="endTime">
					</div>
					<div class="col-8"></div>
				</div>
				<pre id="json"></pre>

				<input type="submit" value="Submit">
			</div>
		</form>
	</div>
	<script>
		var form = document.getElementsByTagName('form').item(0);

	</script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
		</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
		</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
		</script>
</body>

</html>
