<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.4/bluebird.min.js"></script>
	<script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.0/js/msal.js"></script>
	<script src="/js/index.js"></script>
</head>

<body>
	{{#if error}}
	<h1 style="color:red">{{error}}</h1>
	{{/if}}
	<h4 id="WelcomeMessage"></h4>
	<button id="SignIn" onclick="signIn()">Sign In</button><br /><br />
	<pre id="json"></pre>
	<form name="form" action="" method="POST">
		<div class="form-group">
			<input type="hidden" name="token" id="input-token">
			<input type="hidden" name="userId" id="userId">
			<table cellpadding="10">
				<tr>
					<td>
						<h3> What are you looking for?</h3>
					</td>
					<td>
						<select name="type" class="form-control form-control-lg">
							<option value="fika">Fika</option>
							<option value="lunch">Lunch</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<h3> Which day you are you planning for?</h3>
					</td>
					<td>
						<input name="date" type="date">
					</td>
				</tr>
				<tr>
					<td>
						<h3>Within what time you want to have it?</h3>
					</td>
					<td>
						<h3>Start time: </h3>
						<div class="input-group mb-3">
							<input name="start_time" type="time">
						</div>
					</td>
					<td>
						<h3>End time: </h3>
						<div class="input-group mb-3">
							<input name="end_time" type="time">
						</div>
					</td>
				</tr>
			</table>
			<input type="submit" value="Submit">
		</div>
	</form>

	<script>
		var form = document.getElementsByTagName('form').item(0);

	</script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
		</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
		</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
		</script>

</body>

</html>
